div.uploader {
	border-color: #ADABAB;
	border-radius: 25px;
	border: dashed #ADABAB;
	min-height: 300px;
	text-align: center;

	width: 100%;
	padding: 50px;
}

div.uploader-small {
	min-height: 100px;
}
