body {
	height: 100vh;
	margin: 0;

}

.panel-resizable {
	min-height: 100%;
	resize: vertical;
}

#ontology-search-bar {
	display: inline-block;
}

ontology-element li {
	background-color: rgba(211, 211, 211, 0.05);
	margin: 2px;
}

ontology-element.collapsed ul {
	display: none;
}

li a:hover {
	cursor: pointer;
}

.tree-toggle {
	display: inline-block;
	width: 18px;
	padding-left: 0px;
	padding-right: 2px;
}

.tree-element {
	display: inline-block;
	overflow: visible;
}

.element-info {
	display: block;
	padding: 4px;
	margin-top: 2px;
	//margin-left: 18px;
	background-color: antiquewhite;
	border: solid thin black;
}

ontology-tree ul {
	list-style: none;
	padding-left: 0;
	background-color: rgba(211, 211, 211, 0.05);
}

ontology-tree li {
	list-style: none;
	padding-left: 16px;
}

.scrollwrapper {
	padding-top: 2px;
	padding-left: 2px;
	overflow-y: scroll;
	overflow-x: hidden;

	// border: 1px solid black;
	background-color: rgba(211, 211, 211, 0.05);
	height: 32vh;
	//width: 31vw;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ontology-search {
	display: inline-block;
}

.hide {
	display: none;
}

#primaryFooter {
	position: absolute;
}

.searchOptions {
	padding: 2px;
}


