<div class="ontologyViewer">
	<div class="card" tabindex="1">
		<div class="card-header">

			<form>
				<div class="form-row">

					<!-- Ontology picker -->
					<div class="col-md-6 col-xs-12 input-group">
						<select class="form-control col-8" ng-model="selectedOntology" ng-change="changeOntology()" ng-options="ontology.name for ontology in availableOntologies"></select>
						<select class="form-control col-4" ng-model="selectedLanguage.language" ng-options="language for language in availableLangauges"
						 ng-if="selectedOntology !== null"></select>
					</div>

					<div class="col-0 col-md-1"></div>

					<!-- Ontology search features -->
					<div class="col-md-5 col-xs-12 input-group">
						<input class="form-control" ng-keyup="$event.keyCode == 13 ? filterOntology() : null" ng-model="searchText.text" />

						<div class="btn-group pr-0 ml-1" role="group">
							<button class="btn btn-primary" ng-click="filterOntology()">
								<i class="fas fa-search left-icon"></i>
							</button>
							<button class="btn btn-primary" ng-click="expandOntology()"><i class="far fa-plus-square"></i>
							</button>
						</div>
					</div>

				</div>
			</form>
		</div>

		<div class="card-body p-0">
			<ontology-tree ontology="filteredOntology" selected="select" selected-language="selectedLanguage" element-options="elementOptions"></ontology-tree>
		</div>
	</div>
</div>