<div class="card">
	<div class="card-header">Ontology Management <span ng-if="ontologyLoading"><i class="fas fa-spinner fa-spin"></i></span></div>
	<div class="card-body">

		<div class="table-responsive">
		<table class="table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Id</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="ontology in ontologies">
				<td><span class="break-word">{{ontology.name}}</span></td>
				<td><span class="break-word">{{ontology.id}}</span></td>
				<td>
					<button class="btn btn-danger btn-sm" ng-click="removeOntology(ontology.id)">Remove</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

		Upload new Ontology:
		<input ng-if="uploader" style="display: inline;" type="file" nv-file-select uploader="uploader"/>
		<button class="btn btn-primary" ng-click="uploadOntology()">Upload</button>

	</div>
</div>
