<div class="row">
	<!-- image canvas block-->
	<div class="col-md-8 col-xs-12 mb-2">
		<div ng-if="annotationsCtrl.showImage">
			<annotate-image annotations="annotationsCtrl.annotations" image="annotationsCtrl.imageInput" fabricdata="annotationsCtrl.fabricData"
			 selected-object="annotationsCtrl.selectedObject" import-result="annotationsCtrl.canvasImportResult">
			</annotate-image>
		</div>
	</div>

	<!-- Data display block -->
	<div class="col-md-4 col-xs-12">
		<div class="row">
			<div class="col-12 mb-2">
				<div id="uploadImage" class="card" tabindex="1">
					<!--<div class="card-header">
						Image Control
					</div>-->
					<div class="card-body">
						<div ng-if="!annotationsCtrl.isRemoteImage">
							<input type="file" nv-file-select id="imageInput" accept="image/*" class="form-control mb-2" uploader="uploader" />
						</div>

						<div class="text-right">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-sm btn-primary" ng-if="!annotationsCtrl.isRemoteImage" ng-click="annotationsCtrl.uploadImage()">
								<i class="fas fa-cloud-upload-alt"></i>
							</button>
							<button type="button" class="btn btn-sm btn-primary" ng-if="annotationsCtrl.isRemoteImage" ng-click="annotationsCtrl.updateImage()">
								<i class="fas fa-upload"></i>
								<span ng-if="annotationsCtrl.updatingImage">
									<i class="fa fa-spin"></i>
								</span>
							</button>
							<button type="button" class="btn btn-sm btn-danger" ng-click="annotationsCtrl.reset()">
								<i class="fas fa-ban"></i>
							</button>
							<button type="button" class="btn btn-sm btn-danger" ng-if="annotationsCtrl.isRemoteImage" ng-click="annotationsCtrl.delete()">
								<i class="fas fa-trash"></i>
							</button>
						</div>
					</div>
					</div>
				</div>
			</div>

			<div class="col-12 mb-2">
				<ontology-viewer selected-element="annotationsCtrl.selectedClass"></ontology-viewer>
			</div>

			<div class="col-12 mb-2">
				<annotations-viewer ng-if="annotationsCtrl.selectedClass" ontology-class="annotationsCtrl.selectedClass"></annotations-viewer>
			</div>
		</div>
	</div>
</div>