<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="AnnotationTool to annotate images with labels from a pre-defined ontology.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Neoclassica Annotation Tool</title>
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
	<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>

<body id='AnnotationToolApp'>

	<nav id="primaryNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">annotation-web</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" ng-class="{ active: navigationCtrl.isCurrentPage('/')}">
					<a class="nav-link" href="#!/" ng-click="navigationCtrl.closeNav()">
						Browse
					</a>
				</li>
				<li class="nav-item" ng-class="{ active: navigationCtrl.isCurrentPage('/')}">
					<a class="nav-link" href="#!/annotations" ng-click="navigationCtrl.closeNav()">
						Annotations
					</a>
				</li>
			</ul>

			<!-- right elements-->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" ng-class="{ active: navigationCtrl.isCurrentPage('/')}">
					<a class="nav-link" href="#!/admin" ng-click="navigationCtrl.closeNav()">
						Admin
					</a>
				</li>
			</ul>

		</div>
	</nav>

	<div class="container-fluid" style="margin-top:30px">
		<div ng-view></div>
	</div>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/fabric.js/dist/fabric.min.js"></script>
	<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
	<script src="bower_components/angular-filesize-filter/angular-filesize-filter.js"></script>
	<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
	<script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
	<script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
	<!-- endbower -->
	<!-- endbuild -->


	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/annotations.js"></script>
	<script src="scripts/controllers/navigation.js"></script>
	<script src="scripts/directives/file_load.js"></script>
	<script src="scripts/directives/annotate_image.js"></script>
	<script src="scripts/services/fabric.js"></script>
	<script src="scripts/controllers/browse.js"></script>
	<script src="scripts/controllers/admin.js"></script>
	<script src="scripts/controllers/modal/yesnomodal.js"></script>
	<script src="scripts/directives/server_info.js"></script>
	<script src="scripts/directives/batch_image_uploader.js"></script>
	<script src="scripts/directives/upload_preview.js"></script>
	<script src="scripts/directives/ontology_manager.js"></script>
	<script src="scripts/directives/ontology_element.js"></script>
	<script src="scripts/directives/ontology_viewer.js"></script>
	<script src="scripts/filters/ontology_element_info.js"></script>
	<script src="scripts/directives/annotation_import.js"></script>
	<script src="scripts/directives/annotations_viewer.js"></script>
	<script src="scripts/directives/ontology_tree.js"></script>
	<script src="scripts/services/ontology_factory.js"></script>
	<script src="scripts/services/server_info_factory.js"></script>
	<script src="scripts/services/annotation_factory.js"></script>
	<script src="scripts/services/classification_factory.js"></script>
	<script src="scripts/services/import_factory.js"></script>
	<script src="scripts/services/authentication_interceptor.js"></script>
	<script src="scripts/services/configuration_provider.js"></script>
	<!-- endbuild -->


	<script type="text/javascript">
		angular.element(document).ready(() => {
			$.get('appConfig.json', (data) => {

				angular.module('AnnotationToolApp')
					.config(function (ConfigurationProvider) {
						ConfigurationProvider.initialize(data);
					});

				angular.bootstrap(document, ['AnnotationToolApp']);
			})
				.catch(function (err) {
					alert("Failed to load configuration file.");
				});
		});
	</script>
</body>

</html>